
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared primary style */
header{
    /* color: #F5F5F5; */
    margin-bottom: 20px;
}
.clr-1{
    color: #0E0E0E;
}
.clr-2{
    color: #006A50;
}
.clr-3{
    background-color: rgba(84, 144, 245, 0.2);
}
.clr-4{
    background-color: rgba(198, 228, 214, 1);
}
.clr-5{
    background-color: rgba(247, 235, 207, 1);
}

.primary-title{
    font-size: 40px;
    font-weight: bold;
    opacity: 100%;
    color: #0E0E0E;
}
.primary-description{
    font-size: 16px;
    font-weight: 400;
    opacity: 100%;
    margin-top: 16px;
    color: rgba(14, 14, 14, 0.7);
}
.primary-content-title{
    font-size: 20px;
    font-weight: bold;
    opacity: 100%;
    color: #0E0E0E;
}


/* Styles for nav */
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}
nav ul li{
    list-style: none;
}
nav ul h1{
    opacity: 100%;
    font-size: 32px;
    font-weight: bold;
    width: auto;
    height: 38px;
    padding-left: 160px;
}
nav ul button{
    width: 116px;
    height: 52px;
    padding: 15px;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px; 
    box-sizing: border-box;
    border-color: #006A50;
    margin-right: 160px;
}
nav ul button:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
    color: #ffffff; /* Text color on hover */
    cursor: pointer; /* Change cursor to pointer */
}
/* Style for banner content */
.banner-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #C6E4D6;
    margin: 18px 160px 80px 160px;
    border-radius: 20px;
}
.banner-content{
    padding: 80px 64px 200px 60px;
}
.banner-title{
    font-weight: 500;
    font-size: 24px;
    color: rgba(14, 14, 14, 0.5);
    height: 29px;
}
.banner-heading{
    opacity: 100%;
    color: #0E0E0E;
    font-weight: bold;
    font-size: 56px;
}
.banner-btn{
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    padding: 17px 34px;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
}
.banner-btn:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
    color: #ffffff; /* Text color on hover */
    cursor: pointer; /* Change cursor to pointer */
}
.banner-img{
    width: 474px;
    height: 400px;
    padding: 80px 60px 80px 64px;
}

/* Style for main sections*/
.section-size{

    margin: 18px 160px 80px 160px;
    border-radius: 20px;
    
}

.pillars-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    padding-top: 24px;
   
}
.piller{
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 350px;
    height: 300px;
    padding: 24px;
   text-align: justify;

}

/* Vision section style */
.vision-containers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 24px;
    padding-top: 24px;
    margin-bottom: 32px;
    margin-top: 32px;
}
.vision-description{
    font-size: 16px;
    font-weight: 400;
    opacity: 100%;
    color: rgba(14, 14, 14, 0.7);
}
.vision-container{
    border-radius: 16px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 450px;
    height: 320px;
    padding: 24px;
    text-decoration: solid;
    text-align: justify;
}
.qoute-bg-img{
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: left top ;
    margin-bottom: 67px;
    
}
.designation{
    font-size: 20px;
    font-weight: 700;
    opacity: 100%;
    color: rgba(14, 14, 14, 0.8);
}
.vision-btn{
    font-size: 16px;
    font-weight: 500;
    opacity: 100%;
    color: #FFFFFF;
    margin-top: 30px;
    padding: 11px 20px 11px 20px;
    border: none;
    border-radius: 5px;
}
.vision-btn:hover {
    background-color: #0056b3; /* Darker shade for hover effect */
    color: #ffffff; /* Text color on hover */
    cursor: pointer; /* Change cursor to pointer */
}
.vision-btn-clr1{
    background-color: rgba(84, 144, 245, 1);
}
.vision-btn-clr2{
    background-color: rgba(9, 161, 92, 1);
}
.vision-btn-clr3{
    background-color: rgba(255, 194, 57, 1);
}